# 国内常见域名
RULE-SET,https://ruleset.skk.moe/List/non_ip/domestic.conf,DIRECT

# 内网域名
RULE-SET,https://ruleset.skk.moe/List/non_ip/lan.conf,DIRECT

# 国内 IP 段
RULE-SET,https://ruleset.skk.moe/List/ip/domestic.conf,DIRECT
RULE-SET,https://ruleset.skk.moe/List/ip/china_ip.conf,DIRECT

# 其他规则列表
RULE-SET,https://ruleset.skk.moe/List/non_ip/direct.conf,DIRECT

# Apple & Microsoft 国内 CDN 域名
RULE-SET,https://ruleset.skk.moe/List/non_ip/apple_cdn.conf,DIRECT
RULE-SET,https://ruleset.skk.moe/List/non_ip/microsoft_cdn.conf,DIRECT

# Apple CN 域名
RULE-SET,https://ruleset.skk.moe/List/non_ip/apple_cn.conf,DIRECT

# 搜狗输入法
RULE-SET,https://ruleset.skk.moe/List/non_ip/sogouinput.conf,Reject

# 广告拦截 / 隐私保护 / 病毒拦截 / 钓鱼和诈骗域名拦截
DOMAIN-SET,https://ruleset.skk.moe/List/domainset/reject.conf,Reject
RULE-SET,https://ruleset.skk.moe/List/non_ip/reject.conf,Reject

# 其它域名拦截
RULE-SET,https://ruleset.skk.moe/List/non_ip/reject-no-drop.conf,Reject
RULE-SET,https://ruleset.skk.moe/List/non_ip/reject-drop.conf,Reject

# 测速网站及其测速点域名
DOMAIN-SET,https://ruleset.skk.moe/List/domainset/speedtest.conf,speedtest

# 静态 CDN 域名
DOMAIN-SET,https://ruleset.skk.moe/List/domainset/cdn.conf,CDN-Download
RULE-SET,https://ruleset.skk.moe/List/non_ip/cdn.conf,CDN-Download

# 软件、游戏和驱动的下载和更新域名
DOMAIN-SET,https://ruleset.skk.moe/List/domainset/download.conf,CDN-Download
RULE-SET,https://ruleset.skk.moe/List/non_ip/download.conf,CDN-Download

# AIGC 类服务域名
RULE-SET,https://ruleset.skk.moe/List/non_ip/ai.conf,AIGC

# 常见海外域名
RULE-SET,https://ruleset.skk.moe/List/non_ip/global.conf,Global

# 苹果和微软服务域名
RULE-SET,https://ruleset.skk.moe/List/non_ip/apple_services.conf,Apple
RULE-SET,https://ruleset.skk.moe/List/non_ip/microsoft.conf,Microsoft

# Telegram 域名
RULE-SET,https://ruleset.skk.moe/List/non_ip/telegram.conf,CDN-Download


; # 网易云音乐的域名
; RULE-SET,https://ruleset.skk.moe/List/non_ip/neteasemusic.conf,网易云音乐

# 广告拦截 IP
RULE-SET,https://ruleset.skk.moe/List/ip/reject.conf,Reject

# Telegram IP 规则
RULE-SET,https://ruleset.skk.moe/List/ip/telegram.conf,CDN-Download
PROCESS-NAME,Telegram,Reject

# 流媒体 IP
RULE-SET,https://ruleset.skk.moe/List/ip/stream.conf,Stream

# 局域网 IP
RULE-SET,https://ruleset.skk.moe/List/ip/lan.conf,DIRECT

# 国内 IP 段
RULE-SET,https://ruleset.skk.moe/List/ip/domestic.conf,DIRECT
RULE-SET,https://ruleset.skk.moe/List/ip/china_ip.conf,DIRECT

# FINAL
FINAL,Global
